<!DOCTYPE html>
<meta name="robots" content="noindex">
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="./bootstrap-color-brand.css">

  <style>
    button,
    input,
    textarea {
      border-radius: 0 !important;
    }

    nav .nav-item:first-child .nav-link {
      padding-left: 0;
    }
    nav .nav-item:last-child .nav-link {
      padding-right: 0;
    }
  </style>

  <title>Xtack | Ask</title>
</head>
<body>

  <nav class="container" id="menu-app" v-cloak>
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-8 col">
        <div class="row justify-content-between">
          <div class="col-auto">
            <ul class="nav nav-pills">
              <li class="nav-item"><a href="#" class="nav-link text-brand font-weight-bold text-brand">Xtack</a></li>
              <li class="nav-item"><a href="questions.html" class="nav-link text-brand">Questions</a></li>
              <li class="nav-item"><a href="ask.html" class="nav-link text-brand">Ask</a></li>
            </ul>
          </div>
          <div class="col-auto">
            <ul class="nav">
              <li class="nav-item"><a href="settings.html" class="nav-link text-brand">{{ username }} ({{ balance }} XRP)</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="container" id="ask-app" v-cloak>
    <div class="row justify-content-center" style="height: 100vh;">
      <div class="col-xl-8 col-lg-8 col">

        <h1>Ask your question</h1>

        <div>
          <div class="form-group">
            <label for="titleInput">Give you question a title</label>
            <input type="text" id="titleInput" class="form-control" placeholder="Question title" :class="{ 'is-invalid': titleError }" v-model="title">
            <small class="form-text text-muted">Keep it brief but descriptive!</small>
            <div class="invalid-feedback">{{ titleError }}</div>
          </div>
          <div class="form-group">
            <label for="bodyInput">Give your question a body</label>
            <textarea id="bodyInput" rows="10" class="form-control" placeholder="Question body" :class="{ 'is-invalid': bodyError }" v-model="body"></textarea>
            <small class="form-text text-muted">Try to be clear and concise to give your question the best shot of being answered!</small>
            <div class="invalid-feedback">{{ bodyError }}</div>
          </div>
          <div class="form-group row">
            <label for="bountyInput" class="col-auto col-form-label">Give your question a bounty</label>
            <div class="col-auto">
              <input type="number" id="bountyInput" class="form-control" min="0" value="0" :class="{ 'is-invalid': bountyError }" v-model="bounty">
              <small class="form-text text-muted">Don't want to add a bounty? Type in 0!</small>
              <div class="invalid-feedback">{{ bountyError }}</div>
            </div>
          </div>
          <div class="form-group">
            <div class="custom-control custom-switch">
              <input id="confirmationInput" type="checkbox" class="custom-control-input" :class="{ 'is-invalid': tosError }" v-model="tos">
              <label for="confirmationInput" class="custom-control-label">I recognize that this is an irreversable action.</label>
              <div class="invalid-feedback">{{ tosError }}</div>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-brand btn-block" :class="{ 'disabled': loading }" v-on:click="ask()">{{ loading ? '...' : 'Ask' }}</button>
          </div>
        </div>

      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonyous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>

  <script src="./common.js"></script>
  <script src="./menu.js"></script>
  <script src="./ask.js"></script>
</body>
</html>
