<!DOCTYPE html>
<meta name="robots" content="noindex">
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="./bootstrap-color-brand.css">

  <style>
    button,
    input,
    textarea {
      border-radius: 0 !important;
    }

    nav .nav-item:first-child .nav-link {
      padding-left: 0;
    }
    nav .nav-item:last-child .nav-link {
      padding-right: 0;
    }
  </style>

  <title>Xtack | Questions</title>
</head>
<body>

  <nav class="container" id="menu-app">
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-8 col">
        <div class="row justify-content-between">
          <div class="col-auto">
            <ul class="nav nav-pills">
              <li class="nav-item"><a href="#" class="nav-link text-brand font-weight-bold text-brand">Xtack</a></li>
              <li class="nav-item"><a href="questions.html" class="nav-link text-brand">Questions</a></li>
              <li class="nav-item"><a href="ask.html" class="nav-link text-brand">Ask</a></li>
            </ul>
          </div>
          <div class="col-auto">
            <ul class="nav">
              <li class="nav-item"><a href="settings.html" class="nav-link text-brand">{{ username }} ({{ balance }} XRP)</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-8 col">
        <div id="question">
          <h1>Question</h1>
          <h5>{{ question.title }}</h5>
          <div class="row justify-content-between">
            <div class="col-auto">
              <p>Asked by {{ question.author }}, {{ question.timestamp | convert }}</p>
            </div>
            <div class="col-auto">
              <p>{{ question.bounty_min / 1000000 }} XRP bounty</p>
            </div>
          </div>
          <p>{{ question.body }}</p>
        </div>
        <h1>Answers</h1>
        <div id="comment">
          <div v-if="!isOp">
            <div class="form-group">
              <label for="answerInput">Type your answer</label>
              <textarea id="answerInput" rows="3" class="form-control" placeholder="Answer" v-model="text"></textarea>
            </div>
            <div class="form-group">
              <div class="custom-control custom-switch">
                <input id="confirmationInput" type="checkbox" class="custom-control-input">
                <label for="confirmationInput" class="custom-control-label">I agree to the terms & conditions</label>
              </div>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-brand btn-block" v-on:click="submit()">Submit</button>
            </div>
          </div>
        </div>
        <hr>
        <div id="commentsApp">
          <div v-for="comment in commentsList">
            <div class="row">
              <div class="col-9">
                <p>Answered by {{ comment.author }}, {{ comment.timestamp | convert }}</p>
              </div>
              <div class="col-3">
                <span class="badge badge-pill badge-success" v-if="comment.uuid == question.question.accepted_answer_uuid">Solution</span>
                <button type="button" class="btn btn-sm btn-brand" v-on:click="solution(comment.uuid)" v-if="isOp && comment.uuid != question.question.accepted_answer_uuid">Mark as solution</button>
              </div>
            </div>
            <p>{{ comment.body }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonyous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>

  <script src="./common.js" charset="utf-8"></script>
  <script src="./menu.js"></script>
  <script src="./moment.js" charset="utf-8"></script>
  <script src="./question.js" charset="utf-8"></script>
</body>
</html>
