<!DOCTYPE html>
<meta name="robots" content="noindex">
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="./bootstrap-color-brand.css">

  <style>
    button,
    input,
    textarea {
      border-radius: 0 !important;
    }

    nav .nav-item:first-child .nav-link {
      padding-left: 0;
    }
    nav .nav-item:last-child .nav-link {
      padding-right: 0;
    }
  </style>

  <title>Xtack | Settings</title>
</head>
<body>

  <nav class="container" id="menu-app" v-cloak>
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-8 col">
        <div class="row justify-content-between">
          <div class="col-auto">
            <ul class="nav nav-pills">
              <li class="nav-item"><a href="#" class="nav-link text-brand font-weight-bold text-brand">Xtack</a></li>
              <li class="nav-item"><a href="questions.html" class="nav-link text-brand">Questions</a></li>
              <li class="nav-item"><a href="ask.html" class="nav-link text-brand">Ask</a></li>
            </ul>
          </div>
          <div class="col-auto">
            <ul class="nav">
              <li class="nav-item"><a href="settings.html" class="nav-link text-brand">{{ username }} ({{ balance }} XRP)</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="container" id="settings" v-cloak>
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-8 col">

        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active text-brand" id="nav-settings-tab" data-toggle="tab" href="#nav-settings" role="tab" aria-controls="nav-settings" aria-selected="true">Settings</a>
            <a class="nav-item nav-link text-brand" id="nav-deposit-tab" data-toggle="tab" href="#nav-deposit" role="tab" aria-controls="nav-deposit" aria-selected="false">Deposit</a>
            <a class="nav-item nav-link text-brand" id="nav-withdraw-tab" data-toggle="tab" href="#nav-withdraw" role="tab" aria-controls="nav-withdraw" aria-selected="false">Withdraw</a>
            <a class="nav-item nav-link text-brand" id="nav-history-tab" data-toggle="tab" href="#nav-history" role="tab" aria-controls="nav-history" aria-selected="false">History</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-settings" role="tabpanel" aria-labelledby="nav-settings-tab">
            <h1>Account Settings</h1>

            <form action="">
              <div class="form-group">
                <label for="usernameInput">Your username</label>
                <input type="text" name="" id="usernameInput" class="form-control" disabled value="you" v-model="username">
              </div>
              <div class="form-group">
                <label for="emailInput">Your email</label>
                <input type="email" name="" id="emailInput" class="form-control" value="you@example.com" v-model="email">
              </div>
              <div class="form-group">
                <label for="currentPasswordInput">Your current password</label>
                <input type="password" name="" id="currentPasswordInput" class="form-control" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;">
              </div>
              <div class="form-group">
                <input type="password" name="" id="newPasswordInput" class="form-control" placeholder="Your new password">
              </div>
              <div class="form-group">
                <input type="password" name="" id="confirmPasswordInput" class="form-control" placeholder="Confirm new password">
              </div>
              <div class="form-group">
                <button class="btn btn-brand btn-block" type="button">Submit</button>
              </div>
              <div class="form-group">
                <button class="btn btn-brand btn-block" type="button" v-on:click="signout()">Sign out</button>
              </div>
            </form>
          </div>
          <div class="tab-pane fade" id="nav-deposit" role="tabpanel" aria-labelledby="nav-deposit-tab">
            <h1>Deposit</h1>

            <div class="form-group">
              <label for="x-depositAddressInput">Your deposit address</label>
              <div class="input-group">
                <input type="text" name="" id="x-depositAddressInput" class="form-control" readonly value="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" v-model="xaddress" style="font-size: 16px; font-family: monospace;">
                <div class="input-group-append">
                  <button type="button" class="btn btn-brand" v-on:click="copy('#x-depositAddressInput')">Copy</button>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="r-depositAddressInput">Your classic deposit address</label>
              <div class="input-group">
                <input type="text" name="" id="r-depositAddressInput" class="form-control" readonly value="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" v-model="raddress" style="font-size: 16px; font-family: monospace;">
                <div class="input-group-append">
                  <button type="button" class="btn btn-brand" v-on:click="copy('#r-depositAddressInput')">Copy</button>
                </div>
              </div>
              <small class="form-text text-muted">Some apps require a classic address. If you need to use a classic address, you <span style="font-weight: bold;">MUST</span> include the destination tag!</small>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-withdraw" role="tabpanel" aria-labelledby="nav-withdraw-tab">
            <h1>Withdraw</h1>

            <form action="">
              <div class="form-group">
                <label for="addressInput">Your wallet address</label>
                <input type="text" name="" id="addressInput" class="form-control" placeholder="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" :class="{ 'is-invalid': withdrawAddressError }" v-model="withdrawAddress">
                <div class="invalid-feedback">{{ withdrawAddressError }}</div>
              </div>
              <div class="form-group">
                <div class="custom-control custom-switch">
                  <input id="confirmationInput" type="checkbox" class="custom-control-input" :class="{ 'is-invalid': withdrawConfirmError }" v-model="withdrawConfirm">
                  <label for="confirmationInput" class="custom-control-label">I recognize that this is an irreversable action.</label>
                  <div class="invalid-feedback">{{ withdrawConfirmError }}</div>
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-brand btn-block" type="button" :class="{ 'disabled': withdrawLoading }" v-on:click="withdraw()">{{ withdrawLoading ? '...' : 'Withdraw' }}</button>
              </div>
            </form>
          </div>
          <div class="tab-pane fade" id="nav-history" role="tabpanel" aria-labelledby="nav-history-tab">
            <h1>Transactions</h1>

            <div>
              <table class="table table-borderless table-striped table-sm">
                <thead>
                  <tr>
                    <th scope="col">Time</th>
                    <th scope="col">Source</th>
                    <th scope="col">Destination</th>
                    <th scope="col">Type</th>
                    <th scope="col">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="transaction in transactions">
                    <td>{{ transaction.timestamp | convert }}</td>
                    <td>{{ transaction.src }}</td>
                    <td v-if="transaction.ripple_transaction_id == null">
                      {{ transaction.dest }}
                    </td>
                    <td v-if="transaction.ripple_transaction_id != null">
                      <a :href="`https://testnet.xrpl.org/transactions/${transaction.ripple_transaction_id}`" target="_blank" class="text-brand">Ripple Network</a>
                    </td>
                    <td>{{ transaction.type }}</td>
                    <td>{{ transaction.drops / 1000000 }} XRP</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonyous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
  <script src="./common.js"></script>
  <script src="./menu.js"></script>
  <script src="./moment.js"></script>
  <script src="./settings.js"></script>
</body>
</html>
