<!DOCTYPE html>
<meta name="robots" content="noindex">
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  
  <style>
    button,
    input,
    textarea {
      border-radius: 0 !important;
    }
  </style>
  
  <title>Xtack | Sign Up</title>
</head>
<body>
  
  <div class="container">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
      <div class="col-xl-8 col-lg-8 col">
        <h1>Xtack</h1>
          <div id="signup-form">
            <div class="form-group">
              <label for="usernameInput">Enter your username</label>
              <input type="text" id="usernameInput" class="form-control" :class="{ 'is-invalid': usernameError }" placeholder="you" autofocus v-model="username">
              <div class="invalid-feedback">{{ usernameError }}</div>
            </div>
            <div class="form-group">
              <label for="emailInput">Enter your email address</label>
              <input type="email" id="emailInput" class="form-control" :class="{ 'is-invalid': emailError }" placeholder="you@example.com" v-model="email">
              <div class="invalid-feedback">{{ emailError }}</div>
            </div>
            <div class="form-group">
              <label for="passwordInput"> Enter your password</label>
              <input type="password" id="passwordInput" class="form-control" :class="{ 'is-invalid': passwordError }" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" v-model="password">
              <div class="invalid-feedback">{{ passwordError }}</div>
            </div>
            <div class="form-group">
              <label for="confirmPasswordInput">Confirm your password</label>
              <input type="password" id="confirmPasswordInput" class="form-control" :class="{ 'is-invalid': passwordError }" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" v-model="confirmPassword">
              <div class="invalid-feedback">{{ passwordError }}</div>
            </div>
            <div class="form-group">
              <div class="custom-control custom-switch">
                <input id="confirmationInput" type="checkbox" class="custom-control-input" v-model="tos" :class="{ 'is-invalid': tosError }">
                <label for="confirmationInput" class="custom-control-label">I agree to the terms & conditions</label>
                <div class="invalid-feedback">{{ tosError }}</div>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-dark btn-block" :class="{ 'disabled': loading }" v-on:click="signup()">{{ loading ? '...' : 'Sign Up' }}</button>
            </div>
          </div>
          <p>If you already have an account, go to the <a href="signin.html">sign in</a> page!</p>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonyous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>

  <script src="./common.js"></script>
  <script src="./signup.js"></script>
</body>
</html>